@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<MudThemeProvider Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

@code {


    //--kt-white: #ffffff;
    //--kt-white-bg-rgb: 255,255,255;
    //--kt-black: #000000;
    //--kt-black-bg-rgb: 0,0,0;
    //--kt-text-muted: #A1A5B7;
    //--kt-gray-100: #f5f8fa;
    //--kt-gray-200: #eff2f5;
    //--kt-gray-300: #E4E6EF;
    //--kt-gray-400: #B5B5C3;
    //--kt-gray-500: #A1A5B7;
    //--kt-gray-600: #7E8299;
    //--kt-gray-700: #5E6278;
    //--kt-gray-800: #3F4254;
    //--kt-gray-900: #181C32;
    //--kt-gray-100-rgb: 245,248,250;
    //--kt-gray-200-rgb: 239,242,245;
    //--kt-gray-300-rgb: 228,230,239;
    //--kt-gray-400-rgb: 181,181,195;
    //--kt-gray-500-rgb: 161,165,183;
    //--kt-gray-600-rgb: 126,130,153;
    //--kt-gray-700-rgb: 94,98,120;
    //--kt-gray-800-rgb: 63,66,84;
    //--kt-gray-900-rgb: 24,28,50;

    //--kt-white: #ffffff;
    //--kt-light: #f5f8fa;

    //--kt-text-white: #ffffff;
    //--kt-text-primary: #009ef7;
    //--kt-text-secondary: #E4E6EF;
    //--kt-text-light: #f5f8fa;
    //--kt-text-success: #50cd89;
    //--kt-text-info: #7239ea;
    //--kt-text-warning: #ffc700;
    //--kt-text-danger: #f1416c;
    //--kt-text-dark: #181C32;
    //--kt-text-muted: #A1A5B7;
    //--kt-text-gray-100: #f5f8fa;
    //--kt-text-gray-200: #eff2f5;
    //--kt-text-gray-300: #E4E6EF;
    //--kt-text-gray-400: #B5B5C3;
    //--kt-text-gray-500: #A1A5B7;
    //--kt-text-gray-600: #7E8299;
    //--kt-text-gray-700: #5E6278;
    //--kt-text-gray-800: #3F4254;
    //--kt-text-gray-900: #181C32;
    //--kt-body-bg: #ffffff;
    //--kt-body-bg-rgb: 255,255,255;
    //--kt-body-color: #181C32;
    //--kt-link-color: #009ef7;
    //--kt-link-hover-color: shift-color(#009ef7, 20%);
    //--kt-border-color: #eff2f5;
    //--kt-border-dashed-color: #E4E6EF;
    //--kt-component-active-color: #ffffff;
    //--kt-component-active-bg: #009ef7;
    //--kt-component-hover-color: #009ef7;
    //--kt-component-hover-bg: #F4F6FA;
    //--kt-component-checked-color: #ffffff;
    //--kt-component-checked-bg: #009ef7;
    //--kt-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
    //--kt-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    //--kt-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    //--kt-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    //--kt-headings-color: #181C32;
    //--kt-table-color: #181C32;
    //--kt-table-bg: transparent;
    //--kt-table-striped-color: #181C32;
    //--kt-table-striped-bg: rgba(245, 248, 250, 0.75);
    //--kt-table-accent-bg: transparent;
    //--kt-table-active-color: #181C32;
    //--kt-table-active-bg: #f5f8fa;
    //--kt-table-hover-colorr: #181C32;
    //--kt-table-hover-bg: #f5f8fa;
    //--kt-table-border-color: #eff2f5;
    //--kt-table-caption-color: #A1A5B7;
    //--kt-table-loading-message-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    //--kt-table-loading-message-bg: #ffffff;
    //--kt-table-loading-message-color: #5E6278;
    //--kt-input-btn-focus-color: rgba(0, 158, 247, 0.25);
    //--kt-input-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 158, 247, 0.25);
    //--kt-input-btn-focus-color-opacity: 0.25;
    //--kt-input-color: #5E6278;
    //--kt-input-placeholder-color: #A1A5B7;
    //--kt-input-plaintext-color: #5E6278;
    //--kt-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    //--kt-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 158, 247, 0.25);
    //--kt-btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    //--kt-btn-disabled-opacity: 0.65;
    //--kt-btn-link-color: #009ef7;
    //--kt-btn-link-hover-color: shift-color(#009ef7, 20%);
    //--kt-btn-link-disabled-color: #7E8299;
    //--kt-form-label-color: #3F4254;
    //--kt-form-text-color: #A1A5B7;
    //--kt-input-bg: #ffffff;
    //--kt-input-disabled-bg: #eff2f5;
    //--kt-input-disabled-border-color: #E4E6EF;
    //--kt-input-color: #5E6278;
    //--kt-input-border-color: #E4E6EF;
    //--kt-input-focus-bg: #ffffff;
    //--kt-input-focus-border-color: #B5B5C3;
    //--kt-input-focus-color: #5E6278;
    //--kt-input-solid-bg: #f5f8fa;
    //--kt-input-solid-bg-focus: #eef3f7;
    //--kt-input-solid-placeholder-color: #A1A5B7;
    //--kt-input-solid-color: #5E6278;
    //--kt-primary-active: #0095e8;
    //--kt-secondary-active: #B5B5C3;
    //--kt-light-active: #eff2f5;
    //--kt-success-active: #47be7d;
    //--kt-info-active: #5014d0;
    //--kt-warning-active: #f1bc00;
    //--kt-danger-active: #d9214e;
    //--kt-dark-active: #131628;
    MudTheme theme = new MudTheme
        {
            Palette = new PaletteLight
            {
                Primary = new MudBlazor.Utilities.MudColor("#009ef7"),
                Secondary = new MudBlazor.Utilities.MudColor("#E4E6EF"),
                Success = new MudBlazor.Utilities.MudColor("#50cd89"),
                Info = new MudBlazor.Utilities.MudColor("#7239ea"),
                Warning = new MudBlazor.Utilities.MudColor("#ffc700"),
                Error = new MudBlazor.Utilities.MudColor("#f1416c"),
                Dark = new MudBlazor.Utilities.MudColor("#181C32"),
                SuccessLighten = "#e8fff3",
                PrimaryDarken = "#f1faff",
                SecondaryLighten="#f5f8fa",
                InfoLighten="#f8f5ff",
                WarningLighten="#fff8dd",
                ErrorLighten="#fff5f8",
                DarkLighten="#eff2f5",
                AppbarText= new MudBlazor.Utilities.MudColor("#A1A5B7"),
                AppbarBackground = new MudBlazor.Utilities.MudColor("#ffffff"),
                Background = new MudBlazor.Utilities.MudColor("#f5f8fa"),
                DrawerBackground= new MudBlazor.Utilities.MudColor("#1e1e2d"),
            },
            LayoutProperties = new LayoutProperties
            {
                DrawerWidthLeft = "140px",
                AppbarHeight = "65px",
            }
        };

//    --kt-header-fixed-bg-color: #ffffff;
//    --kt-header-fixed-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
//        --kt-toolbar-bg-color: #ffffff;
//    --kt-toolbar-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
//        --kt-toolbar-border-top: 1px solid #eff2f5;
//    --kt-aside-logo-bg-color: #1B1B28;
//    --kt-aside-box-shadow: 0 0 28px 0 rgba(82, 63, 105, 0.05);
//        --kt-footer-bg-color: #ffffff;
//}

    //--kt-primary-inverse: #ffffff;
    //--kt-secondary-inverse: #3F4254;
    //--kt-light-inverse: #7E8299;
    //--kt-success-inverse: #ffffff;
    //--kt-info-inverse: #ffffff;
    //--kt-warning-inverse: #ffffff;
    //--kt-danger-inverse: #ffffff;
    //--kt-dark-inverse: #ffffff;
    //--kt-white-rgb: 255,255,255;
    //--kt-light-rgb: 245,248,250;
    //--kt-primary-rgb: 0,158,247;
    //--kt-secondary-rgb: 228,230,239;
    //--kt-success-rgb: 80,205,137;
    //--kt-info-rgb: 114,57,234;
    //--kt-warning-rgb: 255,199,0;
    //--kt-danger-rgb: 241,65,108;
    //--kt-dark-rgb: 24,28,50;

}
